html, body{
  margin: 0;
  padding: 0;
  font-family: "Square";
}

@font-face {
  font-family: "BestChristmas";
  src: url(./fonts/best_christmas/Best\ Christmas\ -\ Personal\ Use.otf) format("opentype");
}

@font-face {
  font-family: "Square";
  src: url(./fonts/Square.ttf) format("truetype");
}

#body {
  background-color: black;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: url('./imgs/strahd.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.homebg {
  background: black;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title > h1 {
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fog {
  position: relative;
  height: 100vh;
  width: 100%;
}

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}

.fog-img-first {
  background: url(./imgs/fog-1.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog-img-second {
  background: url(./imgs/fog-2.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0,0,0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0)
  }
}



.fade-in {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.fade-out {
  animation: fadeOutAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* Home Page */


/* button styling */
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}





/* Home */
.box {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-weight: 100;
  font-size: 2em;
  color: white;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.box img {
  width: 350px;
}

.characters img {
  padding-top: 40px;
  width: 500px;
}

.characters, .campaign {
  text-align: center;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  transition: 1s box-shadow;
  border-radius: 75px;
  width: 45%;
  height: 60%;
}

.characters:hover, .campaign:hover {
  box-shadow: 0 5px 35px 0px rgba(234, 232, 232, 0.803);
}

.characters a, .campaign a{
  color: white;
  text-decoration: none;
}


/* Characters */
.characterList{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  max-width: 100vh;
}

.characterItem {
  padding: 10px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 10%;
  text-align: center;
  height: 450px;
  width: 250px;
  transition: 1s box-shadow;
  border-radius: 50px;
}

.characterItem:hover{
  box-shadow: 0 5px 35px 0px rgba(234, 232, 232, 0.803);
}

.characterItem img {
  width: 200px;
}




/* Character Page Media Queries */
@media screen and (max-width: 1200px) {
  .characterList {
    display:inline;
  }
  .characterItem {
    height: 400px;
    width: 500px;
  }
  html { 
    height: 2500px;
  }
  .fog-container{
    height: 2500px;
  }
  .fog-img {
    background-size: cover;
    height: 100%;
  }

}